<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Nerva Block Explorer</title>
    <meta property="og:title" content="Nerva Block Explorer">
    <meta name="twitter:title" content="Nerva Block Explorer">
    <meta name="author" content="JerMe404 - https://github.com/jerme404/blockexploder">
    <meta name="description" content="Nerva Block Explorer">
    <meta property="og:description" content="Nerva Block Explorer">
    <meta property="og:image" content="https://raw.githubusercontent.com/jerme404/blockexploder/master/docs/img/exploder-screenshot.png">
  </head>
  <body>
    <noscript>
      <strong>This block explorer doesn't work properly without JavaScript enabled.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
